# Blacklist everything
*

# Whitelist this file
!.gitignore

# Whitelist directories
!*/

# Whitelist file types.
!*.rs
!*.pdf

# Whitelist specific files
!README.md
!LICENSE.rst
!Cargo.toml
!.gitlab-ci.yml

# Blacklist specific files

