# Blacklist everything
*

# Whitelist this file
!.gitignore

# Whitelist directories
!*/

# Whitelist file types.
!*.rs
!*.pdf

# Whitelist specific files
!README.rst
!LICENSE.rst
!Cargo.toml
!.gitlab-ci.yml
!.github/workflows/build_and_test.yml
!tests

# Blacklist specific files
target/
